<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title ">Simple Table</h4>
          <p class="card-category"> Here is a subtitle for this table</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Name
                </th>
                <th>
                  Email
                </th>
                <th>
                  Created
                </th>
                <th>
                  Role
                </th>
              </thead>
              <tbody>
                <% users.forEach(function(user) { -%>
                <tr>
                  <td>
                    <%= user.name %>
                  </td>
                  <td>
                    <%= user.email %>
                  </td>
                  <td>
                    <%= user.created %>
                  </td>
                  <% if (user.isAdmin) { -%>
                  <td>
                    Admin
                  </td>
                  <% } else { -%>
                  <td>
                    User
                  </td>
                  <% } -%>
                </tr>
                <% }) -%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      