body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.user-id{
	display: none;
}
.main-panel > .content{
	padding: 0;
}
.date{
	display: none;
}
#user-form{
	display: none;
}
#edit-section{
	display: none;
}
#add-user{
	cursor: pointer;
}
#display{
	font-size: 1.2rem;
	display: none;
}